# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_USER=memutq
POSTGRES_PASSWORD=password_db
POSTGRES_DB=memutq_db

# ── JWT ───────────────────────────────────────────────────────────────────────
SECRET_KEY=password_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ── CORS ──────────────────────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173

# ── Окружение ─────────────────────────────────────────────────────────────────
ENVIRONMENT=development
