# PostgreSQL
POSTGRES_USER=memutq
POSTGRES_PASSWORD=СИЛЬНЫЙ_ПАРОЛЬ_ЗДЕСЬ
POSTGRES_DB=memutq_db

# JWT
SECRET_KEY=СЛУЧАЙНАЯ_СТРОКА_64_СИМВОЛА
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
FRONTEND_URL=https://твой-домен.ru

# Окружение
ENVIRONMENT=production